<!--<div id="ai">
  <h3 class="center">AI's board</h3>
  <ul #aiSideCoordinates id="ai-side-coordinates">
    <li *ngFor="let x of boardRows; let i = index">{{ i }}</li>
  </ul>

  <ul #aiTopCoordinates id="ai-top-coordinates">
    <li *ngFor="let x of boardRows; let i = index">{{ i }}</li>
  </ul>

  <table #aiBoard id="ai-board">
    <tr *ngFor="let row of boardRows">
      <td
        *ngFor="let col of boardRows"
        (mouseenter)="highlight(row, col)"
        (mouseleave)="unhighlight(row, col)"
        (click)="checkCell(row, col, playerType.PLAYER)"
      ></td>
    </tr>
  </table>
  <div #aiOutput id="ai-output"></div>
</div>

<div id="space">&nbsp;</div>

<div id="player">
  <h3 class="center">Your board</h3>
  <ul id="player-side-coordinates">
    <li *ngFor="let row of boardRows; let i = index">{{ i }}</li>
  </ul>

  <ul id="player-top-coordinates">
    <li *ngFor="let row of boardRows; let i = index">{{ i }}</li>
  </ul>

  <table #playerBoard id="player-board">
    <tr *ngFor="let row of boardRows">
      <td *ngFor="let col of boardRows"></td>
    </tr>
  </table>
  <div #playerOutput id="player-output"></div>
</div>-->

<div>

</div>
<br />
<!--<a [routerLink]="['/home']" class="bottom">Return to home page</a>-->
