<div id="ai">
  <h3 class="center">AI's board</h3>
  <table id="ai-side-coordinates"></table>
  <table id="ai-top-coordinates"></table>
  <table id="ai-board"></table>
  <div id="ai-output"></div>
</div>

<div id="space">&nbsp;</div>

<div id="player">
  <h3 class="center">Your board</h3>
  <table id="player-side-coordinates"></table>
  <table id="player-top-coordinates"></table>
  <table id="player-board"></table>
  <div id="player-output"></div>
</div>
<br />
<a [routerLink]="['/home']" class="bottom">Return to home page</a>
