<div id="ai">
  <h3 class="center">AI's board</h3>
  <ul #aiSideCoordinates id="ai-side-coordinates">
    <li>0</li>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
    <li>6</li>
    <li>7</li>
    <li>8</li>
    <li>9</li>
  </ul>

  <ul #aiTopCoordinates id="ai-top-coordinates">
    <li>0</li>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
    <li>6</li>
    <li>7</li>
    <li>8</li>
    <li>9</li>
  </ul>

  <table #aiBoard id="ai-board">
    <tr *ngFor="let row of boardRows">
      <td *ngFor="let col of boardRows" (mouseenter)="highlight(row, col)" (mouseleave)="unhighlight(row, col)">&nbsp;</td>
    </tr>
  </table>
  <div id="ai-output"></div>
</div>

<div id="space">&nbsp;</div>

<div id="player">
  <h3 class="center">Your board</h3>
  <ul id="player-side-coordinates">
    <li>0</li>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
    <li>6</li>
    <li>7</li>
    <li>8</li>
    <li>9</li>
  </ul>

  <ul id="player-top-coordinates">
    <li>0</li>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
    <li>6</li>
    <li>7</li>
    <li>8</li>
    <li>9</li>
  </ul>

  <table #playerBoard id="player-board">
    <tr *ngFor="let row of boardRows">
      <td *ngFor="let col of boardRows">&nbsp;</td>
    </tr>
  </table>
  <div id="player-output"></div>
</div>
<br />
<!--<a [routerLink]="['/home']" class="bottom">Return to home page</a>-->
